<div class="login-container">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
        <h3 class="text-center mb-4">🔐 Login</h3>
        <form [formGroup]="User" (ngSubmit)="onLogin()">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email"
                    name="email"
                    ngModel
                    required
                    placeholder="Enter email" />
                <span class="text-danger error"
                    *ngIf="User.get('email')?.touched && User.get('email')?.invalid">
                    Invalid email address
                </span>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                    type="password"
                    id="password"
                    formControlName="password"
                    class="form-control"
                    name="password"
                    ngModel
                    required
                    placeholder="Enter password" />
                <span class="text-danger error"
                    *ngIf="User.get('password')?.touched && User.get('password')?.invalid">
                    Password must be at least 8 characters long and include
                    uppercase, lowercase, number, and special character.
                </span>
            </div>

            <button type="submit" [disabled]="User.invalid"
                class="btn btn-primary w-100">Login</button>
        </form>
        <div class="text-center mt-3">
            <small>
                Don't have an account?
                <a routerLink="/register">Register here</a>
            </small>
        </div>
    </div>
</div>
